@charset "UTF-8";
.menu
{
	margin-top:-20px;
	margin:0px;
	padding:20px;	
	padding-left:30px;
	background-color:#2a2925;
	border-radius:0px;
	font-size:15px;
}

.aid
{
	color:white;
	margin-left:20px;
}
	
.logout
{
	color:white;
	float:right;
}
