@charset "UTF-8";
body
	{
		background-color: #9aa2a9;
	}
	
	body, html {
  font-family: Arial, Helvetica, sans-serif;
}
	h4
	{
		float:right;
		padding:10px;
	}
	
	a{
		color:black;
	}
	
	table
	{
		width:70%;
		margin:auto;
		padding:20px;
		background-color: silver;
	}
	
	th
	{
		background-color: #a89a8d;
	}
	
	table,th,td
	{
		margin-top:100px;
		text-align:center;
		border:1px solid black;
		border-collapse:collapse;
		padding:20px;
	}
